* {
    margin: 0px;
    padding: 0px;
    position: relative;
}
html,
body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg_back.png');
}
h1 {
    text-align: center;
    width: 80%;
}
a {
    text-decoration: none;
}
.box-shadow {
-webkit-box-shadow: 2px 0px 56px 3px rgba(110, 153, 124, 1);
-moz-box-shadow: 2px 0px 56px 3px rgba(110, 153, 124, 1);
box-shadow: 2px 0px 56px 3px rgba(110, 153, 124, 1);
}
.grid-container {
    display: grid;
    grid-template-rows: 3fr 13fr 1fr;
    grid-row-gap: 1em;
}
.r2 {
    display: grid;
    grid-template-columns: .05fr 13fr .05fr;
    background-color: azure;
    width: 98%;
    margin-left: 1%;
}
.r1>img {
    width: 100vw;
    height: 175px;
}
.r3 {
    background-color: darkblue;
    text-align: center;
    color: white;
}
.r2c1,
.r2c3 {
    background-color: red;
}
.r2c2 {
    background-color: rgb(137, 132, 163);
    grid-template-rows: 8fr 8fr;
    padding: 5px 20px;
}
.r2c2r1,
.r2c2r2 {
    padding: 5px 0px;
    height: 100%;
    width: 100%;
}
.r2c2r2  {
    margin-top: 100px;
}
.r2c2r1> img>h1 >p, .r2c2r2>img>h1>p  {
    display: block;
    padding: 15px;
    width: 100vw;
}
.top-image {
    padding-right: 15px;
    float: left;
}
.bottom-image {
    float: right;
    padding: 15px 0px 15px 15px;
}
.footer {
    align-self: center;
    justify-self: center;
    padding-top: 15px;
}
.back-home {
    padding: 7px 25px;
    background-color: black;
    color: white;
    float: right;
    font-weight: bold;
}
.back-home:hover {
    background-color: rgb(42, 95, 40);
}